.a4-landscape {
  width: 297mm;
  height: 210mm;

  /* Common print settings */
  margin: 0 auto;
  padding: 10mm;
  background: white;

  /* For screen preview */
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
  .a4-landscape {
    width: 297mm;
    height: 210mm;
  }
}
