.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
  padding-right: 1rem;
}

/* logo */
.bars {
  display: none;
}

.logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
}

.logo > span {
  color: #fa4616;
}

.logo > img {
  width: 3rem;
  height: 3rem;
}
/* menu */
.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 16px;
}

.menuItem:hover {
  cursor: pointer;
}

/* Tablets */
@media screen and (max-width: 1200px) {
  .menuItem > span {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu .menuItem:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
  }

  .active {
    background: var(--activeItem);
    margin-left: 0;
  }

  .active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--blue-sky);
    margin-right: calc(1rem - 8px);
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    height: 4rem;
    /* padding: 0; */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* Optional: Set background color */
    z-index: 9;
    padding-top: 1.5vh;
    padding-bottom: 10vh;
  }

  /* Hide the logo */
  .logo {
    display: none;
  }

  .menu {
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    justify-content: space-around;
  }

  .menuItem {
    margin-left: 0;
    flex-grow: 1;
    justify-content: center;
    text-align: center; /* Ensure text is centered */
  }

  .menu .menuItem:last-child {
    position: static;
    margin-top: 0;
  }
  .active {
    background: var(--activeItem);
    margin-left: 0;
  }

  .active::before {
    height: 100%;
    background: var(--blue-sky);
  }
}
