.MuiTableRow-root > * {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table {
  margin: 1rem;
  width: 90%;
  border-collapse: collapse;
}
/* Colors for different times of day */
.morning {
  background-color: #e0f7fa; /* Light cyan */
}

.afternoon {
  background-color: #fff3e0; /* Light orange */
}

.evening {
  background-color: #f3e5f5; /* Light purple */
}

/* Details section */
.details {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.details h3 {
  margin-bottom: 1rem;
}

/* Pagination controls */
.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-controls button {
  margin: 0 0.25rem;
}

.Table td,
.Table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.Table th {
  background-color: #f5f5f5;
}
.container-table{
  position: relative;
  max-width: 1200px;
  width: 90%;
  /* background:var(--gray); */
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.header-left {
  display: block;
  align-items: center;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.header-link {
  color: #00bfa5;
  text-decoration: none;
  font-size: 14px;
}

.header-link:hover {
  text-decoration: underline;
}

.header-right {
  display:inline;
  align-items: center;
}

.search-input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.new-pt-button {
  background-color: #00bfa5;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.new-pt-button:hover {
  background-color: #009688;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination-controls .active {
  background-color: #00bfa5;
  color: #fff;
  border: none;
}

.pagination-controls button:hover {
  background-color: #f0f0f0;
}


@media screen and (max-width: 1200px) {
  .Table {
    width: 100%;
    margin-top: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .Table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}